    <footer class="footer">
        <div class="container">

           <div class="footer__inner">
               <div class="footer__row">
                    <div class="address">
                        Краснодар, ул. Мечникова 18, к. 6
                   </div>
    
                   <div class="contact">
                       <a href="" class="phone">+ 7 000 000 00 00</a>
                       <a href="" class="email">hello@yandex.ru</a>

                      
                   </div>
               </div>

               <div class="footer__row">
                   <p class="copyright">© 1997-2022 Строительство бассейнов COMPASS в Краснодаре, Краснодарском крайе и по всей России | Все права защищены </p>
                  
                   <div class="social">
                        <a href="">
                            <img src="img/whatsapp.svg" alt="">
                        </a>
                        <a href="">
                            <img src="img/telegram.svg" alt="">
                        </a>
                    </div>
                </div>
              
           </div>

        </div>
    </footer>

</div> <!--  /site-container -->

<script src="js/libs.js"></script>
<script src="js/main.min.js"></script>



</body>

</html>