<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- title -->
    <title>Balance</title>


    <!-- fonts -->

    
    <!-- styles -->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.min.css">

</head>
<body>


<div class="site-container">  <!-- site-container -->
    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div>
                    <a href="index.html" class="logo">
                        <img src="img/logo.png" alt="balance">
                    </a>

                    <a href="#anchor" class="choice">Выбрать бассейн</a>
                </div>
               

                <div>
                    <div class="phone-wrapper">
                        <a href="" class="phone">+7 (861) 206 52 51</a>
                        <span>Краснодар</span>
                    </div>

                    <a href="" class="btn-secondary popup-link">Перезвонить мне</a>
                </div>


            </div>
            
        </div>
    </header>